<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" 
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
   integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
   crossorigin=""></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <!-- div id="themap" style="width: 1024px; height: 1024px;"></div -->
        <div id="themap" style="width: 100%; height: 1000px;"></div>
        <script>
            var themap = L.map('themap').setView([0, 0], 4);
            themap.on('click', on_map_clicked);

            L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png',
                        {
                            maxZoom: 18,
                            preferCanvas: true
                        }).addTo(themap);

            var the_cells = [];
            var the_bounds = new L.latLngBounds();
            {% for c in graph.grid.cells.all %}
                var r = [[{{c.max_lat}}, {{c.min_lon}}], [{{c.min_lat}}, {{c.max_lon}}]];
                the_bounds.extend(r);
                the_zone = L.rectangle(r, {color: 'green', weight: 1, fillOpacity: 0}).addTo(themap);
            {% endfor %}

            themap.fitBounds(the_bounds);

            var the_renderer = L.canvas({padding: 0.5});

            {% for edge in graph.edges.all %}
                L.polyline([
                            [{{edge.origin.lat}}, {{edge.origin.lon}}],
                            [{{edge.target.lat}}, {{edge.target.lon}}],
                           ],
                           {
                            weight: 1,
                            color: 'grey',
                            opacity: 0.9,
                            renderer: the_renderer
                           })
                         .addTo(themap)
            {% endfor %}

            {% for stop in stops.all %}
                L.circleMarker([{{stop.lat}}, {{stop.lon}}],
                               {
                                renderer: the_renderer,
                                color: 'red',
                                radius: 1,
                                opacity: 1
                               })
                         .addTo(themap)
            {% endfor %}

            function Point(label, map, lat, lon, dispose_cb) {
                this.lat = lat;
                this.lon = lon;
                this.map = map;
                this.dispose_cb = dispose_cb;
                this.label = label;
                this.marker = L.marker([this.lat, this.lon]).addTo(this.map);
                this.stop_marker = null;
                this.trace_to_stop = null;
                this.stop_id = null;
                this.is_ready = false;

                this.marker.bindPopup("<p>" + label +
                                      "<br>lat: " + this.lat +
                                      "<br>lon: " + this.lon + "</p>" +
                                      `<br><button id='point-${this.label}'">Delete</button>`)
                           .openPopup()
                           .on('popupopen', () => {
                                   $(`#point-${this.label}`).click(()=>{this.dispose();});
                           });

                this.dispose = function()
                {
                    console.log("deleted");
                    if (this.marker) {
                        this.marker.removeFrom(this.map);
                    }
                    if (this.stop_marker) {
                        this.stop_marker.removeFrom(this.map);
                    }
                    if (this.trace_to_stop) {
                        this.trace_to_stop.removeFrom(this.map);
                    }
                    if (this.dispose_cb != undefined) {
                        this.dispose_cb();
                    }
                }

                this.update = function(cb) {
                        $.ajax({url: `/routes/stops/closest/{{graph.id}}/${this.lon}/${this.lat}/`})
                        .done((msg)=>{
                            console.log(msg);

                            if (!msg) {
                                this.dispose();
                                return;
                            }

                            this.stop_id = msg.id;

                            this.stop_marker = L.marker([msg.lat, msg.lon])
                                                .addTo(this.map)
                                                .bindPopup("<p>Ref: " + this.label +
                                                           "<br>id: " + msg.id +
                                                           "<br>name:" + msg.title +
                                                           "<br>lat: " + msg.lat +
                                                           "<br>lon: " + msg.lon + "</p>")
                                                .openPopup();

                            this.trace_to_stop = L.polyline([[msg.lat, msg.lon], [this.lat, this.lon]]).addTo(themap);

                            if (cb != undefined) {
                                cb();
                            }
                          });
                }
            }

            var start_point = null;
            var stop_point = null;
            var path_trace = null;

            function remove_path_trace() {
                if (path_trace) {
                    path_trace.removeFrom(themap);
                    path_trace = null;
                }
            }

            function updated(){
                if (start_point && stop_point) {
                    $.ajax({url: `/routes/stops/graph/{{graph.id}}/pathfinder/${start_point.stop_id}/${stop_point.stop_id}/`})
                        .done(function(msg) {
                            var path = [];
                            console.log(msg);
                            for (var k in msg.path) {
                                path.push([msg.path[k].lat, msg.path[k].lon]);
                            }
                            path_trace = L.polyline(path, {color: 'blue', width: 3}).addTo(themap);
                    })
                }
            }

            function on_map_clicked(e) {
                if (start_point == null) {
                    start_point = new Point('source', themap, e.latlng.lat, e.latlng.lng, ()=>{start_point = null; remove_path_trace();});
                    start_point.update(updated);
                } else if (stop_point == null) {
                    stop_point = new Point('destination', themap, e.latlng.lat, e.latlng.lng, ()=>{stop_point = null; remove_path_trace();});
                    stop_point.update(updated);
                }
            }

            themap.fitBounds(the_bounds);

        </script>
    </body>
</html>
