<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" 
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
   integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
   crossorigin=""></script>
    </head>
    <body>
        <!-- div id="themap" style="width: 1024px; height: 1024px;"></div -->
        <div id="themap" style="width: 100%; height: 1000px;"></div>
        <script>
            var themap = L.map('themap').setView([0, 0], 4);
            L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png',
                        {
                            maxZoom: 18,
                            preferCanvas: true
                        }).addTo(themap);

            var the_cells = [];
            var the_bounds = new L.latLngBounds();
            {% for c, n, t in grid %}
                {% if n > 0 %}
                var r = [[{{c.max_lat}}, {{c.min_lon}}], [{{c.min_lat}}, {{c.max_lon}}]];
                the_bounds.extend(r);
                the_zone = L.rectangle(r, {color: 'green', weight: 1, fillOpacity: {{t}}}).addTo(themap);
                the_zone.bindPopup("{{n}} stops in the area")
                {% endif %}
            {% endfor %}

            themap.fitBounds(the_bounds);
        </script>
    </body>
</html>
