<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" 
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
   integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
   crossorigin=""></script>
    </head>
    <div id="themap" style="width: 600px; height: 600px;"></div>
    <script>
        var themap = L.map('themap');
        L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png',
                    {
                        maxZoom: 18,
                        preferCanvas: true
                    }).addTo(themap);
        var shape_pts = []
        {% for pt in trip.shape.points.all %}
            shape_pts.push([{{pt.lat}}, {{pt.lon}}]);
        {% endfor %}

        var the_line = L.polyline(shape_pts, {color: 'green'}).addTo(themap);

        {% for st in trip.stop_times.all %}
            L.marker([{{st.stop.lat}}, {{st.stop.lon}}])
                     .addTo(themap)
                     .bindPopup('{{st.stop.name}}')
                     .openPopup();
        {% endfor %}

        themap.fitBounds(the_line.getBounds());
    </script>
</html>
